.gradle
.idea
formkiq-core.iml
build
bin
.DS_Store
*.tgz
*.zip
.nyc_output
lambda-cognito-user-signup/src/coverage
lambda-dlq/src/coverage
module-email-notify/src/coverage
node_modules
*.tmp
!console/src/test/resources/test.zip
websocket-api/src/coverage
.settings
