ApiAuthorization:
  type: oauth2
  flows: {}
  x-amazon-apigateway-authorizer:
    type: jwt
    jwtConfiguration:
      issuer:
        Fn::Sub: https://cognito-idp.${AWS::Region}.amazonaws.com/${CognitoUserPool}
      audience:
        - Fn::Sub: "${CognitoUserPoolClient}"
    identitySource: "$request.header.Authorization"
